#html{
	height:100%;
	background: radial-gradient(circle, #dcf4f8, #849ea2);
	background: -webkit-radial-gradient(circle, #dcf4f8, #849ea2);
	background: -o-radial-gradient(circle, #dcf4f8, #849ea2);
	background: -moz-radial-gradient(circle, #dcf4f8, #849ea2);
	}

#container{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
/* #leftWall{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
#rightWall{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
#ceiling{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
#arms1{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
#arms2{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
#arm3{
	height: 800px;
	width: 1000px;
	background-color: grey;
} */
/* .holeL1{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeL2{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeR1{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeR2{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC1{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC2{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC3{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC4{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC5{
	height: 800px;
	width: 1000px;
	background-color: grey;
}
.holeC6{
	height: 800px;
	width: 1000px;
	background-color: grey;
} */
